.main-writing{
    text-align: center;
}

.slider {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.slider {
    margin-left: 50vw;
    margin-top: 50vh;
    position: absolute !important;
    top: 0px;
    transform: translate(-50%, -50%) scale(1.3);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(243,255,40,1) 49%, rgba(17,121,9,1) 100%, rgba(9,255,0,1) 100%) !important;
    position: relative;
    -webkit-appearance: none;
    width: 60%;
    border: 2px solid white;
    height: 40px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* filter: blur(40px); */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 72px;
    height: 72px;
    background-image:url('images/mogs.png');
    background-color:rgba(0,0,0,0);
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 92px;
    background: #4CAF50;
}